body {
  background-color: lightseagreen;
  color: black;
  text-align: center;
}
.container {
  display: flex;
  background-color: yellow;
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  line-height: 3;
  border: 1px solid black;
}
