<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>

  <body>
    <%- include ('partials/nav') -%>
    <h1>Rendering HOME page (using eJS viewEngine)</h1>

    <h4>1. create a server using node + express</h4>
    <h4>
      2. open index.html file directly to see frontend GET/POST with
      backend(NodeJS)
    </h4>
    <h4>3. CRUD operations on static array</h4>
    <h4>4. CRUD operations with mongodb</h4>

    <script src="/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
