<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>

  <body>
    <%- include ('partials/nav') -%>
    <h1>Rendering WORK.ejs page</h1>

    <form id="workForm">
      <input type="text" name="item" />
      <button type="submit" class="waves-effect waves-light btn">ADD</button>
    </form>

    <ul>
      <% todos .forEach(item =>{ %>
      <li><%= item %></li>
      <% }) %>
    </ul>

    <script>
      document.getElementById("workForm").onsubmit = (e) => {
        e.preventDefault();
        const url = "http://localhost:5000/send";

        var data = new URLSearchParams();
        console.log(e.target);
        for (const pair of new FormData(e.target)) {
          // console.log(pair)
          data.append(pair[0], pair[1]);
        }

        fetch(url, {
          method: "POST", // can be "put", "delete" or "post"
          body: data,
        })
          .then((res) => res.json())
          .then((res2) => {
            console.log(res2);
            location.reload();
          });
      };
      /*  END */
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
